<section class="bg-main-light my-3 w-75 mx-auto p-3">
    <h1 class="my-5"> Login Now: </h1>
    <form [formGroup]="loginForm" (ngSubmit)="handleForm()">
        <div>
            <label for="email" class="my-2"> Email: </label>
            <input #inputEmail formControlName="email" type="email" id="email" class="form-control">

            <div class="alert alert-danger" *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || inputEmail.value.length > 0)">
                <p *ngIf="loginForm.get('email')?.getError('required')"> Email Is Requierd </p>
                <p *ngIf="loginForm.get('email')?.getError('email')"> email pattern is inavalid </p>
            </div>
        </div>
        <div>
            <label for="password" class="my-2"> password: </label>
            <input #inputPassword formControlName="password" type="password" id="password" class="form-control">

            <div class="alert alert-danger" *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.touched || inputPassword.value.length > 0)">
                <p *ngIf="loginForm.get('password')?.getError('required')"> password is requierd </p>
                <p *ngIf="loginForm.get('password')?.getError('pattern')"> password pattern is inavalid</p>
            </div>
        </div>

        <div class="d-flex justify-content-between align-content-center">
            <span routerLink="/forgetpassword" routerLinkActive="active-link" role="button"><a class=" d-flex align-content-center h4 my-3">Forget Password?</a></span>

        <button  class="btn-main ms-auto d-block mt-3">
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            Login</button>
        </div>
        <p *ngIf="msgError" class="alert alert-danger"> {{msgError}} </p>
    </form>
</section>